persp.state
backups/*
autosaves/*
tmp/*
auto-save-list
recentf
savehist
saveplace
eshell
elpa*
elpa/archives/*
session*
*elc
swank
tramp
url
*~
abbrev_defs
ac-comphist.dat
bookmarks
cider-repl-history
ido.last
smex-items
conf/custom.el
mbsyncrc
.cask/*
custom.el
elscreen
*-history
lib/mu
org-gcal/
refile.org
.emacs.desktop*
projectile-bookmarks.eld
*.cache
conf/calendar-conf.el
